<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,82},{28,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{28,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,82},{30,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{36,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fly_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{30,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fly_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,42},{38,32}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{38,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fly_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fly_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{36,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flies-ipad.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1ea216c53652a068b8a237e317d5add$</string>
            <key>textureFileName</key>
            <string>flies-ipad.png</string>
        </dict>
    </dict>
</plist>
